body {
    background-color: #f4f4f4; 
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #ffffff; 
    color: #333;
}

.btn-primary {
    background-color: #666666;
    border-color: #666666;
    color: white;
}

.btn-primary:hover {
    background-color: #4d4d4d;
    border-color: #4d4d4d;
}
