body {
    background-color: #f4f4f4;
}

.card {
    border: none;
    border-radius: 10px;
}

.btn-primary {
    background-color: #00bcd4;
    border-color: #00bcd4;
}

.btn-primary:hover {
    background-color: #0097a7;
    border-color: #0097a7;
}